body {
    background-color: #59A5D8;
    color: whitesmoke;
    font-family: monospace;
    margin: 0;
}
form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 25vw;
    font-size: 1.1rem;
}
#forStylesForm {
    background-color: #498ABE ;
    max-width: 50vw;
    height: 100vh;
    padding: 1rem;
}
h2 {
    font-size: 2rem;
}
